.section {
  overflow-y: scroll;
  margin: 0 auto;
  padding: 120px 100px 20px 100px;
  min-width: 800px;
  width: 100%;
  max-width: 1300px;

  h1 {
    margin: 50px 0px 60px 0px;
    color: #fff;
    font-size: 6rem;
    font-weight: 800;
    font-family: inherit;
    text-align: center;
    -webkit-text-stroke: 0.02rem #fff;
    color: transparent;
    cursor: pointer;
    transition: all 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
    &:hover {
      color: #fff;
    }
  }

  h1 {
    animation: Animation 3s cubic-bezier(0.2, 0.6, 0.3, 1) forwards;
  }

  @keyframes Animation {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
    60% {
      opacity: 0.7;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    color: #fff;
  }
}
