.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 1px solid #2d2d34;
  z-index: 1;

  p {
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #737373;
    opacity: 0.9;
  }

  a {
    color: #737373;
  }

  p:hover,
  a:hover {
    color: #fff;
    opacity: 1;
  }
}
